:root {
	/*COLOR*/
	--color: #8F9FCC;
	--light: #fcfcff;
	--dark: #212126;

	--pad: 20px;
}

html {
	height: 100%;
	position: relative;
}

body {
	position: relative;
	background-color: var(--color);
	font-family: 'Comfortaa', cursive;
	padding: var(--pad);
}

#header-id {
	display: grid;
	grid-template-columns: 480px 185px 1fr;
	grid-gap: var(--pad);
	margin-bottom: var(--pad);
}

#main-id {
	display: grid;
	grid-template-columns: 485px 4fr 3fr;
	grid-gap: var(--pad);
	margin-bottom: var(--pad);
}

#footer-id {
	display: grid;
	grid-template-columns: 340px 1fr 1fr;
	grid-gap: var(--pad);
}

#intro {
	display: grid;
	grid-template-rows: 80px 1fr;
	grid-gap: var(--pad);
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 25px;
	margin-bottom: 10px;
}

.ul {
	text-decoration: underline;
}

.bloc {
	border-radius: 4px;
	padding: var(--pad);
	background-color: var(--light);
}

p{
	line-height: 25px;
}

input {
	border: 2px solid var(--dark);
	border-radius: 4px;
}

/* EYES */

.eyes{
	position: absolute;
	top: 122px;
	transform: translateY(-50%);
	width: 9%;
	text-align: center;
}
.eye{
	width: 40px;
	height: 30px;
	display: inline-block;
	margin: 2px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}

.ball{
	width: 10px;
	height: 10px;
	background: var(--dark);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	border: 5px solid var(--light);
}